<div class="row">
  <div id="charity-info" class="large-12 columns">
    <h2><%= @charity.name %></h2>
    <p><%= @charity.description %></p>
  </div>
</div>


<div class="row">
  <div class="large-12 columns">
    <dl class="tabs" data-tab>
      <dd class="active"><a href="#contribute">Contribute</a></dd>
      <dd><a href="#donations">Donations</a></dd>
      <dd><a href="#subscriptions">Subscription Plans</a></dd>
    </dl>

    <div class="tabs-content">
      <div class="content active" id="contribute">
        <div class="row">
          <div class="large-8 columns">
            <h3>Make a Donation to <%= @charity.name %></h3>

            <%= form_for [@charity, @donation] do |f| %>
              <span class="payment-errors"></span>

              <%= f.hidden_field :user_id, value: current_user.id %>

              <%= f.label :amount %>
              <%= f.number_field :amount %>

              <label>
                Card Number
                <input type="text" size="20" data-stripe="number"/>
              </label>

              <label>Card Expiration</label>
              <div class="row">
                <div class="large-4 columns" >
                  <div class="row">
                      <div class="large-6 columns" >
                        <input type="text" size="2" data-stripe="exp-month" placeholder="MM" />
                      </div>
                      <div class="large-6 columns" >
                        <input type="text" size="4" data-stripe="exp-year" placeholder="YYYY" />
                      </div>
                  </div>
                </div>
              </div>

              <%= f.submit 'Submit', id: 'submit-btn', class: "button tiny" %>
            <% end %>
          </div>
        </div>
      </div>

      <div class="content" id="donations">
        <div class="row">
          <div class="large-12 columns">

            <h4>Total Money Raised: <span>$<%= @charity.donations.sum(:amount) %></span></h4>
            <% @charity.donations.each do |donation| %>

              <div style="height:<%= donation.amount %>px;" data-tooltip class="donation-stack has-tip [tip-top] [radius round]" title="<%= donation.created_at.strftime('%m/%d') %>">
                <%= donation.amount %>
              </div>
            <% end %>
          </div>
        </div>
      </div>

      <div class="content" id="subscriptions">
        <div class="row">
          <div class="large-4 columns">
            <h4>Subscription Plans</h4>
            <ul><% @plans.each do |plan| %>
              <li>
                <a class="new-subscription" href="#" data-reveal-id="subModal" data-reveal data-form-action="<%= charity_plan_subscribers_path(@charity, plan, user_id: current_user.id) %>"><%= plan.name %> - $<%= plan.amount.to_i %>/<%= plan.interval %></a>
              </li>
            <% end %>
            </ul>
            <a href="#" id="new-plan-btn" class="button tiny">+ Add Plan</a>
            <div class="panel" id="new-plan">
              <%= form_for [@charity, @plan] do |f| %>
                <%= f.label :name %>
                <%= f.text_field :name %>

                <%= f.label :amount %>
                <%= f.text_field :amount %>

                <%= f.label :interval %>
                <%= f.select :interval, options_for_select([['Monthly', 'month'], ['Yearly', 'year'], ['Weekly', 'week']]) %>

                <%= f.submit 'Submit', class: 'button tiny' %>
              <% end %>
            </div>
          </div>
        </div>
      </div>

    </div>

</div>

<div id="subModal" class="reveal-modal" data-reveal>
  <form id="new_subscriber" action="" method="post">
    <span class="payment-errors"></span>
    <label>
      Card Number
      <input type="text" size="20" data-stripe="number"/>
    </label>

    <label>Card Expiration</label>
    <div class="row">
      <div class="large-4 columns" >
        <div class="row">
            <div class="large-6 columns" >
              <input type="text" size="2" data-stripe="exp-month" placeholder="MM" />
            </div>
            <div class="large-6 columns" >
              <input type="text" size="4" data-stripe="exp-year" placeholder="YYYY" />
            </div>
        </div>
      </div>
    </div>

    <button id="subscriber-btn" class="button tiny">Submit</button>



  </form>
</div>




<script type="text/javascript">
  $(document).ready(function() {

    $('.new-subscription').on('click', function() {
      $('#new_subscriber').attr('action', $(this).data('form-action'))
    })


    $('#new_donation').submit(function(event) {
      var $form = $(this);
      $form.find('#submit-btn').prop('disabled', true);
      Stripe.card.createToken($form, stripeResponseHandler);
      return false;
    });

    var stripeResponseHandler = function(status, response) {
      var $form = $('#new_donation');

      if (response.error) {
        $form.find('.payment-errors').text(response.error.message);
        $form.find('#submit-btn').prop('disabled', false);
      } else {
        var token = response.id;
        $form.append($('<input type="hidden" name="donation[stripe_token]" />').val(token));
        $form.get(0).submit();
      }
    };

    $('#new_subscriber').submit(function(event) {
      var $form = $(this);
      $form.find('#subscriber-btn').prop('disabled', true);
      Stripe.card.createToken($form, stripeResponseHandlerSubscriber);
      return false;
    });

    var stripeResponseHandlerSubscriber = function(status, response) {
      var $form = $('#new_subscriber');

      if (response.error) {
        $form.find('.payment-errors').text(response.error.message);
        $form.find('#subscriber-btn').prop('disabled', false);
      } else {
        var token = response.id;
        $form.append($('<input type="hidden" name="subscriber[stripe_token]" />').val(token));
        $form.get(0).submit();
      }
    };



  });

</script>
